<p>
  <label>Name:</label>
  <%= text_field_tag :name %>
</p>
<p>
<label>Hometown</label>
  <%= text_field_tag :hometown %>
</p>
<p>
  <label>Birthday</label>
  <%= date_field_tag :birthday %>
</p>
  <%= submit_tag "Submit Student" %>
